/*-- scss:defaults --*/
$h1-font-size:   2.1rem !default;
$h2-font-size:   1.8rem !default;
$h3-font-size:   1.3rem !default;

$footer-bg: #F4F6F7;

h3 {
  color: #3f3f3f !important;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$font-family-serif: 'Playfair Display', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;

$primary: #1E3A5F; // Default outline color
$primary-hover: #142B44; // Hover fill color

/*-- scss:rules --*/

a {
  color: #1E3A5F; // Your preferred link color
  text-decoration: underline;
  text-decoration-thickness: 0.6px; // Adjust thickness to make it lighter
  text-underline-offset: 3px; // Moves the underline slightly below the text for a cleaner look

  &:hover {
    text-decoration-thickness: 1.5px; // Slightly thicker on hover for emphasis
  }
}

.btn-custom {
  color: $primary;
  border: 2px solid $primary;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $primary-hover;
    color: white; // Ensures text is readable
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-serif;
  color: #2C3E50;
}

p {
  font-family: $font-family-sans-serif;
  color: 7F8C8D;
}

.navbar-title {
  font-family: $font-family-serif;
  font-weight: 600;
  //color: #2C3E50;
  color: white;
}

.menu-text {
  //color: #2C3E50;
  color: white;
}

// set background color to F9FAFB
body {
  background-color: #F4F6F7;
}

// set navbar color
.navbar {
  background-color: #3C4D61;
}

// set color of search icon
.search-icon {
  color: white;
}

.btn-primary {
  background-color: #D35400;
}

.navbar {
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox=%220%200%2030%2030%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath%20stroke=%22rgba(255%2C%20255%2C%20255%2C%201)%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-miterlimit=%2210%22%20d=%22M4%207h22M4%2015h22M4%2023h22%22/%3E%3C/svg%3E');
  }

  .navbar-toggler {
    //border-color: rgba(255, 255, 255, 0.25);
  }

}

.navbar .nav-link .bi-search {
  color: #fff !important;
}
